body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

/* HEADER (CLEAN) */
header {
  background: linear-gradient(135deg, #ffb300, #ff8f00);
  padding: 25px 15px;
  text-align: center;
}

.header-content h1 {
  margin: 0;
  font-size: 28px;
  color: black;
}

.header-content p {
  margin: 5px 0 10px;
  color: black;
}

/* SEARCH */
header input {
  width: 85%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

/* NAV */
.nav-toggle {
  background: #222;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

nav {
  display: none;
  background: #1c1c1c;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

nav ul li:hover {
  background: #ffb300;
  color: black;
}

/* MENU */
.menu {
  max-width: 500px;
  margin: auto;
  padding: 15px;
}

/* CARD */
.card {
  background: #1c1c1c;
  margin-bottom: 15px;
  border-radius: 12px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card h3 {
  margin: 10px;
  color: #ffb300;
}

.card p {
  margin: 0 10px;
  color: #ccc;
}

.card span {
  display: block;
  margin: 10px;
  font-weight: bold;
}